# See https://hp.github.m/articles/ignoring-files/ for more about ignoring files.

# Directories
/tmp/
/tasks/
/output/

/slides/*
!/slides/example-*

# Custom themes (keep example-* as samples)
/css/custom/*
!/css/custom/example-*.css

# Background templates (keep example-* as samples)
/images/templates/*
!/images/templates/example-*

# Files
.DS_Store